<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->



<form action="/action_page.php" method="post">
    <div class="imgcontainer">
        <img src="assets/Images/michael-dam-mEZ3PoFGs_k-unsplash.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <form class="form-register" [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <div class="form-group" class='input-container'>
                <div class="input-group">
                    <!-- <i class="fa fa-user icon"></i> -->
                    <input class="form-control" class="input-field" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" type="email" name="email" formControlName="email" placeholder="Email address" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <!-- <i class="fa fa-lock icon"></i> -->
                    <input class="input-field" type="password" formControlName="password" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <br>
                <button type="submit" class="btn btn-info rounded-pill">
                    
                    Login</button>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <!-- <input id="customCheck1" type="checkbox" checked class="custom-control-input"> -->
                <!-- <label for="customCheck1" class="custom-control-label">Remember password</label> -->
                <a routerLink="/forgetpass-component"> <b>Forget Password</b></a>
                <br> Not Registered?
                <a routerLink="/Signup"> <b>Sign up!</b></a>
            </div>
        </form>
    </div>

    <!-- <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div> -->
</form>