<!--  -->
<div row>

    <nav>
        <div class="topnav" id="myTopnav">
            <a routerLink="/Home" class="active">Home</a>
            <a routerLink="/Login">Login</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
    </nav>
    <!--  -->
    <!-- 
    <h1><b>Integrate Angular with Flask Python</b></h1>
    <hr>

    <div row>
        <div>
            <button class="btn btn-primary pull-right" routerLink='/Main'>Main</button>
            <button class="btn btn-primary pull-right" routerLink='/Login'>Login</button>
        </div>
        <div>
            <img src="https://images.pexels.com/photos/1092424/pexels-photo-1092424.jpeg?cs=srgb&dl=code-computer-machine-learning-programmer-1092424.jpg&fm=jpg" alt="business intelligence" width="1345" height="700">
        </div>
    </div> -->
</div>

<router-outlet></router-outlet>