<h1>Integrate Angular with Flask Python</h1>
<hr>

<div class=a>

    <span class="filler" style="font-size:130%">ML Prediction Tool </span>

    <span class="gap"></span>
    <span class="gap">File</span>
    <span class="gap">Edit</span>
    <span class="gap">About</span> <br>
    <span class="filler1"></span>
    <button class="btn btn-primary rounded-pill pull-right" routerLink='/Main'>Main</button>

    <div>
        <img src="https://images.pexels.com/photos/1092424/pexels-photo-1092424.jpeg?cs=srgb&dl=code-computer-machine-learning-programmer-1092424.jpg&fm=jpg"
            alt="business intelligence" width="1345" height="700">
    </div>
</div>
<router-outlet></router-outlet>